body {
  font-family: 'Arial', sans-serif;
  background-color: #df6a79;
  color: #501f35;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #fdeaea;
  padding: 14px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav li a {
  text-decoration: none;
  color: #d81b60;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
}  

nav li a:hover {
  background-color: #f8bbd0;
}

h1, h2,p {
  text-align: center;
  margin-bottom: 30px;
  color: #050530;
  font-family: 'Segoe UI';
}

.product{
  background-color: #ffcedf;
  border-style: solid; 
  border-color: black;
  border-radius: 12px;
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
  text-align: center;
}

.product img {
  display: block;
  margin: 10px auto 20px;
  border-radius: 12px;
  max-width: 50%;
  width: 250px;
  height: 40%;
}

.checkout{
  background-color: #ffcedf;
  border-style: solid; 
  border-color: black;
  border-radius: 12px;
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
  text-align: center;
}

.cart-buttons,.totals {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 20px;
}

.cart-items {
  list-style-type: none;
  padding: 0;
}

.cart-items li {
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.cart-items li span, .cart-items li p {
  display: block; 
  margin: 4px ;
  font-size: 16px;
}