body {
  font-family: 'Arial', sans-serif;
  background-color: #e95f72;
  color: black;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #fdeaea;
  padding: 8px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav li a {
  text-decoration: none;
  color: #d81b60;
  font-weight: bold;
  padding: 14px ;
  border-radius: 6px;
}  

nav li a:hover {
  background-color: #ce93a7;
}

h1, h2 {
  color: #681b3a;
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  margin-top: 20px;
}

 p {
 margin-top: 2px;
}

main p {
  text-align: center;
  margin-bottom: 40px;
  font-size: 18px;
}

.features{
    text-align: center;
}

.features li {
  padding-left: 40px;
  font-size: 18px;
  list-style-type: none;
}

.btn{
padding: 20px;
display: flex;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px; margin-top: 50px;
  color: #777;
}

/* Button Styling */
.btn {
  display: inline-block;
  padding: 15px;
  background-color: #81083b; 
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.cta, .find {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  display: block;
  margin: 20px auto;
}

/*Footer styling*/
footer{
  color: #681b3a;
  font-size: 6px;
  margin-bottom: 10px; 
}
